<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        Personal Banking | Internet Banking | Corporate, NRI Banking Services Online - Axis Bank
    </title>
    <link rel="icon" href="https://www.axisbank.com/assets/images/favicon.ico" type="image/gif">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='assets/img/logo.png') }}"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav"></ul>
        </div>
        </div>
    </nav>
    <div id="vueApp"><div role="alert" class="alert" v-bind:class="[[alert.success ? 'alert-success' : 'alert-danger'], { 'd-none' : alert.hide }] " >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <span><strong>[[alert.status]] </strong>[[alert.message]].</span></div>
        <div class="container" style="margin-top: 20px;"><button class="btn btn-secondary" type="button" data-target="#addUser" data-toggle="modal">ADD New User</button>
            <div class="table-responsive" style="margin-top: 20px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 300px;">ID</th>
                            <th>NAME</th>
                            <th style="width: 200px;">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="user in users">
                            <td>[[user.custid]]</td>
                            <td>[[user.username]]</td>
                            <td><button class="btn btn-danger" type="button" style="margin-right: 20px;" v-on:click="deleteUser(user.custid, user.username)" data-toggle="modal" data-target="#deleteUser">DELETE</button><button class="btn btn-primary" type="button"
                                    data-target="#matchSign" data-toggle="modal" v-on:click="matchDialog(user.custid, user.username)">MATCH</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="addUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New User</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <form id="new-user-form" v-on:submit="submitNewUser">
                            <div class="form-group"><input class="form-control" type="text" name="name" required="" placeholder="Customer Name" maxlength="100" minlength="3" autofocus=""></div>
                            <div class="form-group"><input type="file" accept="image/*" name="user_file" required="" v-on:change="addSignatureFile"></div>
                            <div class="form-group"><img class="border rounded-0" width="100%" height="200" :src="user.signature"></div>
                            <div class="form-group"><button class="btn btn-success" type="submit">ADD USER</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="matchSign">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Match Signature - [[selectedUser]]</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <form id="match-form" v-on:submit="matchSignatures($event,selectedId)">
                            <div class="form-group"><input type="file" name="user_file" required="" id="signinput" v-on:change="addSignatureFile"></div>
                            <div class="form-group"><button class="btn btn-primary" type="submit">Match</button></div>
                        </form>
                        <div class="row">
                            <div class="col"><img class="border rounded-0" width="100%" height="125" style="margin-right: 10px;" v-bind:src="user.signature">
                                <p class="text-center">Uploaded Signature</p>
                            </div>
                            <div class="col"><img class="border rounded-0" width="100%" height="125" v-bind:src="originalSign">
                                <p class="text-center">Orignal Signature</p>
                            </div>
                        </div>
                        <div v-bind:style="{ color: matched ? 'green': 'red'}" v-if="showScore">
                            <h1 class="text-center">[[ matched ? 'Matched' : 'Not-Matched' &nbsp; ]]</h1>
                            <h1 class="text-center">Confidence Score - [[matchPercent]]%</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade text-warning" role="dialog" tabindex="-1" id="loading" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body"><i class="far fa-sun fa-spin fa-10x fa-fw margin-bottom" style="width: 100%;"></i></div>
                </div>
            </div>
        </div>
        <div class="modal fade" role="dialog" tabindex="-1" id="deleteUser">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">[[selectedUser]] - [[selectedId]]</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>Please confirm customer id before deleting the user.</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-danger" type="button" v-on:click="confirmDelete">Delete</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>

</html>